################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Baggagesorteringssystem/.vs/Baggagesorteringssystem/FileContentIndex/45b9f116-2120-46fb-aedd-1b299a8087b8.vsidx
/Baggagesorteringssystem/.vs/Baggagesorteringssystem/FileContentIndex
